.flex-box,
.flex-box-rps {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-collapse: collapse;
  align-items: center;
  flex-wrap: wrap;
  height: 250px;
  border: 3px solid black;
}
.container {
  width: 75%;
  margin: 0 auto;
}
h2 {
  font-size: 50px;
  font-color: black;
  text-shadow: 2px 2px red;
}
